Задание 1
Вернемся к набору данных о видеоиграх.

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?

2) Критикам нравятся больше игры на PC или на PS4?

3) Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

сформулируйте нулевую и альтернативную гипотезы;

выберите пороговый уровень статистической значимости;

опишите полученные результаты статистического теста.

In [ ]:
import numpy as np  
import pandas as pd
from scipy import stats 
import matplotlib.pyplot as plt  
import seaborn as sns

In [ ]:
game_sales = pd.read_csv('https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/vgsales.csv?raw=true')
game_sales.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#удалим пропущенные значения
game_sales = game_sales.dropna()

In [ ]:
#посмотрим среднюю оценку критиков для всех жанров

game_sales['Critic_Score'].mean()

70.27208791208791

Средняя оценка для всех жанров приблизительна равна 70, отсюда можем выдвинуть гипотезы:

Н0: средняя оценка критиков для спортивных игр <= 70;  

Н1: средняя оценка критиков для спортивных игр > 70.

In [ ]:
game_sport_score = game_sales[game_sales['Genre'] == 'Sports']['Critic_Score']
game_sport_score

0        76.0
3        80.0
13       80.0
15       80.0
77       82.0
         ...
16148    73.0
16233    83.0
16380    91.0
16532    78.0
16550    78.0
Name: Critic_Score, Length: 943, dtype: float64

In [ ]:
result = stats.ttest_1samp(game_sport_score, popmean=70, alternative='greater')
print(result, game_sport_score.mean())

Ttest_1sampResult(statistic=9.71180901421307, pvalue=1.2889782818622617e-21) 74.17073170731707

 Нулевая гипотеза отвергается(pvalue < 0.05), значит мы можем считать, что критики ставят оценки спортивным играм в среднем выше, чем всем остальным жанрам.

Н0: оценки игр на PC не отличаются от оценок игр на PS4;

Н1: оценки игр на PC отличаются от оценок игр на PS4.

In [ ]:
game_pc_score = game_sales[game_sales['Platform'] == 'PC']['Critic_Score']
game_ps4_score = game_sales[game_sales['Platform'] == 'PS4']['Critic_Score']

In [ ]:
t_value, p_value = stats.ttest_ind(game_pc_score, game_ps4_score, equal_var = False)
print(t_value, p_value)
print(game_pc_score.mean(), game_ps4_score.mean())

3.987087145027479 7.984874894502312e-05
76.26113671274962 72.66945606694561

Нулевая гипотеза отвергается(pvalue < 0.05), разница в оценках есть, критикам больше нравятся игры на PC.

Н0: оценки критиков стрелялок не отличаются от оценок стратегий;

Н1: оценки критиков стрелялок отличаются от оценок стратегий.

In [ ]:
game_shooter_score = game_sales[game_sales['Genre'] == 'Action']['Critic_Score']
game_strategy_score = game_sales[game_sales['Genre'] == 'Strategy']['Critic_Score']

In [ ]:
t_value, p_value = stats.ttest_ind(game_shooter_score, game_strategy_score, equal_var = False)
print(result)
print(game_shooter_score.mean(), game_strategy_score.mean())

Ttest_1sampResult(statistic=9.71180901421307, pvalue=1.2889782818622617e-21)
67.82883435582822 73.12359550561797

Нулевая гипотеза отвергается(pvalue < 0.05), разница в оценках есть, у стратегий оценки выше, чем у стрелялок.

Задание 2
Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;

2) Удалите мусорные символы;

3) Удалите стоп-слова;

4) Привидите все слова к нормальной форме;

5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
Можете поэкспериментировать с параметрами TfidfVectorizer;

6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;

7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;

8) Опишите результаты при помощи confusion_matrix;

9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [ ]:
mail = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/stat_case_study/spam.csv')
mail.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
mail['Message'] = mail['Message'].str.lower()
mail.head()

  Category                                            Message
0      ham  go until jurong point, crazy.. available only ...
1      ham                      ok lar... joking wif u oni...
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham  u dun say so early hor... u c already then say...
4      ham  nah i don't think he goes to usf, he lives aro...

In [ ]:
import re

mail['Message'] = mail['Message'].apply(lambda x: re.sub('[\W_]+', ' ', x))
mail.head()

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stopwords_set = set(stopwords.words('english'))
texts_splitted = [text.split() for text in mail['Message']]
without_sw = [[word for word in text if word not in stopwords_set] for text in texts_splitted]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('omw-1.4')
nltk.download('wordnet')
wordnet_lemmatizer = WordNetLemmatizer()
lemmatized_text = [[wordnet_lemmatizer.lemmatize(word) for word in text] for text in without_sw]

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer() 
tfidf_matrix = tfidf.fit_transform(mail.Message) 
names = tfidf.get_feature_names() 
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = tfidf_matrix 
y = mail['Category']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
model.score(X_test, y_test)

0.9635167464114832

In [ ]:
y_pred = model.predict(X_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1446,    2],
       [  59,  165]])

Судя по матрице можно сделать вывод, что 59 спам-сообщений по ошибке попало в неспам, а 2 сообщения - в спам.

In [ ]:
mail_new = mail.iloc[y_test.index]
mail_new['Generated_Category'] = y_pred
mail_new

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Category,Message,Generated_Category
3245,ham,squeeeeeze this is christmas hug if u lik my f...,ham
944,ham,and also i ve sorta blown him off a couple tim...,ham
1044,ham,mmm thats better now i got a roast down me i d...,ham
2484,ham,mm have some kanji dont eat anything heavy ok,ham
812,ham,so there s a ring that comes with the guys cos...,ham
...,...,...,...
2505,ham,hello my boytoy i made it home and my constant...,ham
2525,spam,free entry into our 250 weekly comp just send ...,spam
4975,ham,aiyo u so poor thing then u dun wan 2 eat u ba...,ham
650,spam,you have won 1 000 cash or a 2 000 prize to cl...,spam
4463,ham,sorry i flaked last night shit s seriously goi...,ham

In [ ]:
error_mail = mail_new[mail_new['Category'] != mail_new['Generated_Category']]
error_mail

,Category,Message,Generated_Category
881,spam,reminder you have not downloaded the content y...,ham
1961,spam,guess what somebody you know secretly fancies ...,ham
3864,spam,oh my god i ve found your number again i m so ...,ham
2575,spam,your next amazing xxx picsfree1 video will be ...,ham
3548,spam,rock yr chik get 100 s of filthy films xxx pic...,ham
...,...,...,...
191,spam,are you unique enough find out from 30th augus...,ham
4543,spam,freemsg hi baby wow just got a new cam moby wa...,ham
752,spam,you have an important customer service announc...,ham
495,ham,are you free now can i call now,spam
305,spam,sms ac blind date 4u rodds1 is 21 m from aberd...,ham